<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-action-tab" data-toggle="tab" href="#action" role="tab"
               aria-controls="nav-home" aria-selected="true">Action</a>
            <a class="nav-item nav-link" id="nav-timer-tab" data-toggle="tab" href="#timer" role="tab"
               aria-controls="nav-profile" aria-selected="false">Timer</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="action" role="tabpanel" aria-labelledby="nav-action-tab">
            <app-action-settings></app-action-settings>
          </div>
          <div class="tab-pane fade" id="timer" role="tabpanel" aria-labelledby="nav-timer-tab">
            <app-timer-settings></app-timer-settings>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()">OK</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
