<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="https://github.com/dylmeadows/EonTimer">
    <span class="pr-2"><i class="fab fa-github fa-lg"></i></span>
    <span>EonTimer</span>
  </a>
  <button class="btn btn-secondary" (click)="settingsModal.show()" [disabled]="timer.isRunning">
    <i class="fas fa-cog fa-lg"></i>
  </button>
</nav>
<app-timer-display></app-timer-display>
<app-gen4-timer></app-gen4-timer>
<app-settings-modal></app-settings-modal>
<router-outlet></router-outlet>
